$breakpoint: 765px;

.view-display-id-paragraphs_events_block {
  .date-stacked {
    position: relative;
    top: -40px;
    margin-bottom: -40px;
    width: 50px;

    &.no-image {
      top: 0;
      margin-bottom: 14px;
      width: 100%;
      padding: 45px 0;

      .date-month {
        font-size: 40px;
        line-height: 40px;
      }

      .date-day {
        font-size: 50px;
        line-height: 50px;
      }
    }
  }

  .view-content {
    display: flex;

    @media(max-width:$breakpoint){
      display:block;
    }
  }



  .views-row {
    flex-grow: 1;
    flex-basis: 0;
    margin-right: 20px;
    border: 1px solid black;
    box-shadow: 5px 5px 5px #888888;

    &.views-row-last {
      margin-right: 0;
      border: 1px solid black;
    }

    @media(max-width:$breakpoint){
      &, &.views-row-last{
        margin:20px;
      }
    }
  }

  .views-field:not(:first-child) {
    margin: 10px 20px;
  }

}